<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body ng-app="libApp">

<div ng-controller="authorDetails">
  <form ng-submit="sendData()">
    Authoraiyyo:<br><br>
    <input type="text" ng-model="Author"><br><br>
    <!--Publisher:<br>
    <input type="text" ng-model="Publisher">
    Books Count:<br>
    <input type="text" ng-model="BooksCount">
    <br><br>-->
    <button type="submit">SUBMIT</button>
    <br>
  </form>
  <br><br>
  Author List:<br><br>
  <ul>
  {% verbatim %}
    <li ng-repeat="author in authorList">{{author.authorName}}</li>
  {% endverbatim %}
  </ul>

  <ul>
    <li ng-repeat="notif in notifs">
      {% verbatim %}
      {{notif.authorName}}
      {% endverbatim %}
    </li>
  </ul>
</div>

<div ng-controller="bookDetails">
  <form ng-submit="sendData()">
    Title:<br>
    <input type="text" ng-model="Title"><br>
    Publisher:<br>
    <input type="text" ng-model="Publisher">
    <br>
    Books Count:<br>
    <input type="text" ng-model="BooksCount">
    <br><br>
    <button type="submit">SUBMIT</button>
  </form>
  <ul>
    {% verbatim %}
    <li ng-repeat="book in bookList">{{book.title}}</li>
    {% endverbatim %}
  </ul>
</div>

<script>
angular.module('libApp', [])
.controller('authorDetails', function ($scope, $http,$timeout) {
    $scope.Author = "";
    $scope.notifs = [];
    $scope.sendData = function() {
        var data ={
          authorName:$scope.Author,
          date_added:new Date()
        }
        $http({
          method: 'POST',
          url: 'http://localhost:8000/portal/author/',
          data:data
        }).then(function successCallback(response){
          alert("Data sent succesfully!");
        }, function errorCallback(response){
          alert("Failed");
        });
    }
    $http({
      method:'GET',
      url: 'http://localhost:8000/portal/author/'
    }).then(function(response){
      $scope.authorList=response.data
    })  

    function tick() {
      $http.get('/portal/author/updates/').success(function (response){
        console.log(response);
        var i=0;
        if(response.length!=0){
          for(i=0;i<response.length;i++){
            $scope.notifs.push(response[i]);
          }
        }
        $timeout(tick,2000);
      });
    }
    tick();
    // function tick() {
    //   $http.get('/portal/author/').success(function (response){
    //     console.log(response);
    //     $scope.authorList = response;
    //     $timeout(tick,2000);
    //   });
    // }
    // tick();           
})

.controller('bookDetails', function ($scope, $http) {
    // $scope.Author = "";
    $scope.sendData = function() {
        var data ={
          title:$scope.Title,
          publisher:$scope.Publisher,
          noBooks:$scope.BooksCount
        }
        $http({
          method: 'POST',
          url: 'http://localhost:8000/portal/book/',
          data:data
        }).then(function successCallback(response){
          alert("Data sent succesfully!");
        }, function errorCallback(response){
          alert("Failed");
        });
    }      
    $http({
      method: 'GET',
      url: 'http://localhost:8000/portal/book/',
    }).then(function(response){
      $scope.bookList=response.data
    })             
})
</script>

</body>
</html>
