{% verbatim %}
<!DOCTYPE html>
<html lang="en">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<body>

<div ng-app="libApp" ng-controller="bookDetails">
  <form ng-submit="sendData()">
    Author:<br>
    <input type="text" ng-model="Author"><br>
    <!--Publisher:<br>
    <input type="text" ng-model="Publisher">
    Books Count:<br>
    <input type="text" ng-model="BooksCount">
    <br><br>-->
    <button type="submit">SUBMIT</button>
  </form>
  <ul>
    <li ng-repeat="x in bookDet">{{x.authorName}}</li>
  </ul>
</div>

<script>
angular.module('libApp', [])
.controller('bookDetails', function ($scope, $http) {
    $scope.Author = "";
    $scope.sendData = function() {
        var data ={
          authorName:$scope.Author
        }
        $http({
          method: 'POST',
          url: 'http://localhost:8000/portal/author/',
          data:data
        }).then(function successCallback(response){
          alert("Data sent succesfully!");
        }, function errorCallback(response){
          alert("Failed");
        });
    }
    $scope.bookDet=[]
    $http({
      method: 'GET',
      url: 'http://localhost:8000/portal/author/'
    })
    .then(function successCallback(response){
      $scope.bookDet = response.data;
      console.log(response.data);
    },
    function errorCallback(response){
      alert("Failed");
    });
})
</script>

</body>
</html>
{% endverbatim %}