
<html>
    <head>
        <title>{{heading}}</title>
        <style>
          table, th, td {
              border: 2px solid black;
          }
          th, td {
              padding: 5px;
          }
        </style>
    </head>
    <h1>{{heading}}</h1>
    <h5><a href="http://127.0.0.1:8000/portal/">GetBack!</a></h5>

    <h3>Book<h3>
    <h5><a href="http://127.0.0.1:8000/portal/addbook">Add Book!</a></h5>

    {% if bookList %}
    <table>
    <tr>
       <td><li><a href="/portal/librarian/title/">Title</a></li></td>
       <td><li><a href="/portal/librarian/publisher/">Publisher</a></li></td>
       <td><li><a href="/portal/librarian/noBooks/">NoBooks</a></li></td>
    </tr>
    {% for book in bookList %}
      <tr>
        <td> {{book.title}}</td>
        <td> {{book.publisher}}</td>
        <td> {{book.noBooks}}</td>
        <td> <li><a href="/portal/editbook/{{book.id}}/">Edit</a></li> </td>
        <td> <li><a href="/portal/deletebook/{{book.id}}/">Delete</a></li> </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No Books are available.</p>
    {% endif %}

    <h3>Author<h3>

    {% if authorList %}
    <table>
    {% for author in authorList %}
      <tr>
        <td> {{author.authorName}}</td>
        <td> <li><a href="/portal/editauthor/{{author.id}}/">Edit Author</a></li></td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
      <p>No Authors are available.</p>
      <td> <li><a href="/portal/addauthor/">Edit Author</a></li></td>
    {% endif %}


</html>
