
{% if user.is_authenticated %}
<h3>Hello {{ user.username }}!</h3>
<p><a href="http://127.0.0.1:8000/portal/">GetBack!</a>
{% else %}
<h3></h3>

<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>Portal</title>
    </head>

    <body>
        <h1>Login to Portal</h1>

        <form id="login_form" method="post" action="/portal/login/">
            {% csrf_token %}
            <table>
            <br>
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            <br>
            Password: <input type="password" name="password" value="" size="50" />
            <br />
          </table>
          <p><input type="submit" value="submit" />
          </p>
        </form>

    </body>
    <p><a href="http://127.0.0.1:8000/portal/registration/">Register here!</a>
    </p>
</html>

{% endif %}
